@font-face {
    font-family: 'f25';
    src: url('./f25executive.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: rgb(100, 158, 168);
    text-align: center;
    margin-top: 6%;
    font-family: 'f25';
    overflow: hidden;
}

div {
    width: 650px;
    height: 788px;
    margin: auto;
    background-image: url(./papel.png);
    background-size: 100%;
    text-align: left;
    padding: 22px 65px;
    font-size: 32px;
    position: relative;
    box-shadow: 15px 15px 10px 5px rgb(87, 141, 149);
}

img {
    width: 500px;
    height: 120px;
    margin-left: 170px;
    bottom: 160px;
    position: absolute;
}

.titulo {
    font-size: 34px;
}

.alinhadireita {
    text-align: right;
}

p:not(.alinhadireita, .titulo){
    text-indent: 35px;
}